{% extends"home/index.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Edit</title>
</head>
<body>
    <h1>Editar Visita</h1>
    <form action="{{ url_for('visita.edit', id=visita.id) }}" method="post">
        
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" value="{{ visita.fecha }}" required>
        
        <label for="motivo">Motivo:</label>
        <input type="text" id="motivo" name="motivo" value="{{ visita.motivo }}" required>
        
        <label for="finca_id">Finca:</label>
        <select id="finca_id" name="finca_id">
            {% for finca in fincas %}
                <option value="{{ finca.id }}">{{ finca.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Actualizar Visita</button>
    </form>
</body>
</html>
{%endblock%}