<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Movies</title>
</head>x|
<body>
    <h1>Lista de Visitas</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Motivo</th>
        </tr>   
        {% for visitas in data %}
            <tr>
                <td>{{ visitas.id }}</td>
                <td>{{ visitas.fecha }}</td>
                <td>{{ visitas.motivo }}</td>
                <td>{{ visitas.finca_id.nombre }}</td>
                <td>{{ visitas.empleado_id.nombre }}</td>
                
                <td>    
                    <a href="{{ url_for('visita.edit', id=visitas.id) }}">Editar</a>
                    <a href="{{ url_for('visita.delete', id=visitas.id) }}">Eliminar</a>
                    <!-- Agrega aquí el enlace para eliminar -->
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('visita.add') }}">Agregar Peliculas</a>
    <br>
    <a href="{{ url_for('home.home') }}">Volver al home</a>
    
</body>
</html>

