<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
   
    </style>
</head>
<body>
    <div class="grid-container">
       
        <a href="" class="grid-item">Empleados</a>
        <a href="" class="grid-item">Animales</a>
        <a href="" class="grid-item">Items</a>
        <a href="" class="grid-item">Proveedores</a>
        <a href="" class="grid-item">Medicamentos</a>
        <a href="" class="grid-item">Mantenimientos</a>
        <a href="" class="grid-item">Visitas</a>
    </div>
    </div>
</body>
</html>
