<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Edit</title>
</head>
<body>
    <h1>Editar Proveedor</h1>
    <form action="{{ url_for('proveedor.edit', id=proveedor.id) }}" method="post">
        
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ proveedor.nombre }}" required>
        
        <label for="nombre">Contacto:</label>
        <input type="text" id="contacto" name="contacto" value="{{ proveedor.contacto }}" required>
        
        <label for="nombre">Direccion</label>
        <input type="text" id="direccion" name="direccion" value="{{ proveedor.direccion }}" required>
        
        <button type="submit">Actualizar Proveedor</button>
    </form>
</body>
</html>
