{% extends"home/index.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Animal</title>
</head>
<body>
    <h1>Lista de Proveedores</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Contacto</th>
            <th>Direccion</th>
            
        </tr>
        {% for proveedor in data %}
            <tr>
                <td>{{ proveedor.id }}</td>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.contacto }}</td>
                <td>{{ proveedor.direccion }}</td>
                <td>
                    <a href="{{ url_for('proveedor.edit', id=proveedor.id) }}">Editar</a>
                    <a href="{{ url_for('proveedor.delete', id=proveedor.id) }}">Eliminar</a>
                    <!-- Agrega aquí el enlace para eliminar -->
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('proveedor.add') }}">Agregar proveedor</a>
    <br>
    <a href="{{ url_for('home.home') }}">Volver al Home</a>
   
</body>
</html>
{%endblock%}
