<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Movies</title>
</head>
<body>
    <h1>Listado de Mantenimientos</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Descripcion</th>
            <th>Fecha</th>
            <th>Objeto</th>
            <th>Empleado</th>
            <th>Acciones</th>
        </tr>
        {% for mantenimiento in data %}
            <tr>
                <td>{{ mantenimiento.id }}</td>
                <td>{{ mantenimiento.descripcion }}</td>
                <td>{{ mantenimiento.fecha }}</td>
                <td>{{ mantenimiento.inventario.nombre}}</td>
                <td>{{ mantenimiento.empleado.nombre}}</td>
                <td>    
                    <a href="{{ url_for('mantenimiento.edit', id=mantenimiento.id) }}">Editar</a>
                    <a href="{{ url_for('mantenimiento.delete', id=mantenimiento.id) }}">Eliminar</a>
                    <!-- Agrega aquí el enlace para eliminar -->
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('mantenimiento.add') }}">Agregar Mantenimiento</a>
    <a href="{{ url_for('home.home') }}">Volver al home</a>
    <br>

    
</body>
</html>

