<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add</title>
</head>
<body>
    <h1>Agregar Medicamento</h1>
    <form action="{{ url_for('medicamento.add') }}" method="post">
        
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="descripcion">Descripcion:</label>
        <input type="text" id="descripcion" name="descripcion" required>

        <label for="fecha_administracion">Fecha administracion:</label>
        <input type="date" id="fecha_administracion" name="fecha_administracion" required>

        <label for="dosis">Dosis:</label>
        <input type="text" id="dosis" name="dosis" required>

        <label for="animal_id">Animal:</label>
        <select id="animal_id" name="animal_id">
            {% for animal in animales %}
                <option value="{{ animal.id }}">{{ animal.nombre }}</option>
            {% endfor %}
        </select>

        <label for="empleado_id">Empleador:</label>
        <select id="empleado_id" name="empleado_id">
            {% for empleado in empleados %}
                <option value="{{ empleado.id }}">{{ empleado.nombre }}</option>
            {% endfor %}
        </select>


        <button type="submit">Agregar Medicamento</button>
    </form>
</body>
</html>