<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add</title>
</head>
<body>
    <h1>Agregar Finca</h1>
    <form action="{{ url_for('finca.add') }}" method="post">

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="ubicacion">Ubicacion:</label>
        <input type="text" id="ubicacion" name="ubicacion" required>

        <label for="tamaño">Tamaño:</label>
        <input type="text" id="tamaño" name="tamaño" required>
    
        <button type="submit">Agregar Finca </button>
    </form>
</body>
</html>