<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Edit</title>
</head>
<body>
    <h1>Editar Finca</h1>
    <form action="{{ url_for('finca.edit', id=finca.id) }}" method="post">

        <label for="">Nombre:</label>
        <input type="text" id="nombre" name="" value="{{ nombre.titulo }}" required>

        <label for="">Ubicacion:</label>
        <input type="text" id="nombre" name="" value="{{ nombre.titulo }}" required>

        <label for="">Tamaño:</label>
        <input type="text" id="Tamaño" name="" value="{{ tamaño.titulo }}" required>

        <button type="submit">Actualizar Finca</button>
    </form>
</body>
</html>
