<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add</title>
</head>
<body>
    <h1>Agregar Empleado</h1>
    <form action="{{ url_for('empleado.add') }}" method="post">

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="cargo">Cargo:</label>
        <input type="text" id="cargo" name="cargo" required>

        <label for="fecha_ingreso">Fecha de Ingreso:</label>
        <input type="date" id="fecha_ingreso" name="fecha_ingreso" required>

        <label for="finca_id">Finca</label>
        <select id="finca_id" name="finca_id">
            {% for finca in fincas %}
                <option value="{{ finca.id }}">{{ finca.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Agregar Empleados</button>

    </form>
</body>
</html> 