<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Empleados</title>
</head>
<body>
    <h1>Lista de Empleados</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>FechaIngreso</th>
            <th>Finca</th>
            <th>Acciones</th>
        </tr>
        {% for empleados in data %} 
            <tr>
                <td>{{ empleados.id }}</td>
                <td>{{ empleados.nombre }}</td>
                <td>{{ empleados.cargo }}</td>
                <td>{{ empleados.fecha_ingreso }}</td>
                <td>{{ empleados.finca.nombre }}</td>
             

                <td>    
                    <a href="{{ url_for('empleado.edit', id=empleados.id) }}">Editar</a>
                    <a href="{{ url_for('empleado.delete', id=empleados.id) }}">Eliminar</a>
                    <!-- Agrega aquí el enlace para eliminar -->
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('empleado.add') }}">Agregar Empleado</a>
    <a href="{{ url_for('home.home') }}">Volver al Home</a>
    <br>
    
</html>

