{% extends"home/index.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Inventario</title>
</head>
<body>
    <h1 class="tiulo">Lista de Inventarios</h1>
    <table class="tablas">
        <tr>
            <th>ID</th>
            <th>Nombre</th> 
            <th>Categoria</th>
            <th>Descipcion</th>
            <th>Cantidad</th>
            <th>Fecha Adquisicion</th>
            <th>Finca</th>
            <th>Empleado</th>
            <th>Proveedor</th>
            <th>Acciones</th>
        </tr>
        {% for inventario in data %}
            <tr>
                <td>{{ inventario.id }}</td>
                <td>{{ inventario.nombre }}</td>
                <td>{{ inventario.categoria }}</td>
                <td>{{ inventario.descripcion }}</td>
                <td>{{ inventario.cantidad }}</td>
                <td>{{ inventario.fecha_adquisicion }}</td>
                <td>{{ inventario.finca.nombre}}</td>
                <td>{{ inventario.empleado.nombre}}</td>
                <td>{{ inventario.proveedor.nombre}}</td>

                <td>    
                    <a href="{{ url_for('inventario.edit', id=inventario.id) }}">Editar</a>
                    <a href="{{ url_for('inventario.delete', id=inventario.id) }}">Eliminar</a>
                    <!-- Agrega aquí el enlace para eliminar -->
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="botones">
    <a href="{{ url_for('inventario.add') }}">Agregar Inventario</a>
    <a href="{{ url_for('home.home') }}">Volver al Home</a>
    <br>
    </div>
   
</body>
</html>
{%endblock%}

