<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>add</title>
</head>
<body>
    <h1>Agregar Animal</h1>
    <form action="{{ url_for('animal.add') }}" method="post">

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="especie">Especie</label>
        <input type="text" id="especie" name="especie" required>
        
        <label for="raza">Raza</label>
        <input type="text" id="raza" name="raza" required>

        <label for="edad">Edad</label>
        <input type="text" id="edad" name="edad" required>
        
        <button type="submit">Agregar Animal</button>

    </form>
</body>
</html>