<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Animal</title>
</head>
<body>
    <h1>Lista de Animales</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Raza</th>
            <th>Edad</th>
            <th>Finca</th>
            <th>Empleado</th>
            <th>Proveedor</th>
        </tr>
        {% for animal in data %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.nombre }}</td>
                <td>{{ animal.especie }}</td>
                <td>{{ animal.raza }}</td>
                <td>{{ animal.edad }}</td>
                <td>{{ animal.finca.nombre}}</td>
                <td>{{ animal.empleado.nombre}}</td>
                <td>{{ animal.proveedor.nombre}}</td>
                <td>
                    <a href="{{ url_for('animal.edit', id=animal.id) }}">Editar</a>
                    <a href="{{ url_for('animal.delete', id=animal.id) }}">Eliminar</a>
                    <!-- Agrega aquí el enlace para eliminar -->
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('animal.add') }}">Agregar Animal</a>
    <br>
    <a href="{{ url_for('home.home') }}">Volver al Home</a>
   
</body>
</html>
